:root {
    --main-blue : #4964E1;
    --main-pink : #EFBBD5;
    --main-yellow : #EFC94D;
    --main-salmon : #DF7459;
    --main-green : #B3C55A;
    --main-grey : #EDEDEB;
}

/* @font-face {
    font-family: Jost;
    src: url();
    font-weight: bold;
} */